extends layout

block content
  section.data-links.py-5.text-color-dark
    .container
      .row
        .col-md-6.col-sm-12.download-box-wrapper.mb-3
          a.download-box.row.me-1(href="/data/documents/WordNet_vadlīnijas.pdf" target="_blank")
            .col-2.m-auto
              svg.bi.not-hover.m-auto(style="color: lightgrey" width="50" height="50" fill="currentColor")
                use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-pdf")
              svg.bi.hover.m-auto(style="color: #d5a757" width="50" height="50" fill="currentColor")
                use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#download")
            .col.content.my-auto
              span.fst-italic Methodology and guidelines for word sense distinction, for adding examples to the word senses, and for mapping Latvian synsets to Princeton WordNet synsets (in Latvian)
        .col-md-6.col-sm-12.download-box-wrapper.mb-3
          a.download-box.row.me-1(href="/data/tezaurs_current-public.pgsql.gz" download)
            .col-2.m-auto
              svg.bi.not-hover.m-auto(style="color: lightgrey" width="50" height="50" fill="currentColor")
                use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-zip")
              svg.bi.hover.m-auto(style="color: #d5a757" width="50" height="50" fill="currentColor")
                use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#download")
            .col.content.my-auto
              span.fst-italic Tēzaurs.lv database dump with Latvian WordNet data (December 20, 2022)
        .col-md-6.col-sm-12.download-box-wrapper.mb-3
          a.download-box.row.me-1(href="/data/tezaurs_2022_tei-xml.zip" download)
            .col-2.m-auto
              svg.bi.not-hover.m-auto(style="color: lightgrey" width="50" height="50" fill="currentColor")
                use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-zip")
              svg.bi.hover.m-auto(style="color: #d5a757" width="50" height="50" fill="currentColor")
                use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#download")
            .col.content.my-auto
              span.fst-italic Tēzaurs.lv
              = ' '
              span.fst-italic(data-bs-toggle="tooltip" title="TEI Consortium, Chapter 9: Dictionaries.") TEI
              = ' '
              span.fst-italic XML export

block footer-scripts
  script(src="/js/data.js")
