extends layout

block scripts
  script(src="//unpkg.com/vis-network/standalone/umd/vis-network.min.js")

block content
  .graph
    #graph
    .info

      .info-content.m-3.mb-2
        p.m-0
          | WordNet graph for the synset
          |
          span.synset-name

      .dropdown.m-3.mt-2
        button#synset-menu.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
          span.sense-name.d-inline-block
        ul#synset-list.dropdown-menu(aria-labelledby='synset-menu')

  script(src='/js/graph-data.js' type="text/javascript")
  script(src='/js/demo-graph.js' type="text/javascript")