extends layout

block content
  section.about.py-5.text-color-dark
    .container
      .row
        .col-md-4.images
          .text-center
            div
              a(href="https://lzp.gov.lv/programmas/fundamentalo-un-lietisko-petijumu-projekti-programma-flpp/" tabindex="-1" target="_blank")
                img.img-fluid.object-position-center(src='/images/FLPP symbol purple 1.png' width=200)
            div
              a(href="https://lu.lv" tabindex="-1" target="_blank")
                img.img-fluid.mb-2.mx-2.object-position-center(src='/images/LU.svg' width=80)
              a(href="https://lumii.lv" tabindex="-1" target="_blank")
                img.img-fluid.mb-2.mx-2.object-position-center(src='/images/MII.svg' width=80)
              a(href="https://ailab.lv" tabindex="-1" target="_blank")
                img.img-fluid.mb-2.mx-2.object-position-center(src='/images/AILab.svg' width=80)
        .col-md-8.col-sm-12
          h1.fw-bold.text-uppercase.mb-4 #{__('about_project')}
          p
            | Latvian WordNet is a relational lexico-semantic dictionary, based on
            |
            a(href='https://tezaurs.lv') Tezaurs.lv
            |  lexical data.
            | As of April 2022, Latvian WordNet contains
            |
            a(href='https://wordnet.ailab.lv/wordlist') 6287 words - nouns, verbs, adjectives, and adverbs
            | , separated into 9180 word senses. The word senses are linked into 5331 synonym sets, and there are 3560 relations between them. The synonym sets are also linked to the English
            |
            a(href='https://wordnet.princeton.edu/') Princeton WordNet
            | .
            | The set of semantic relations in Latvian WordNet include synonymy, antonymy, hyponymy, meronymy, gradation and generic similarity.
            | The words included in the Latvian WordNet are selected according to frequency analysis of the word occurrences in the
            |
            a(href='http://www.korpuss.lv/id/LVK2018') Balanced Corpus of Modern Latvian
            | .
            | Latvian WordNet dataset can be browsed as part of the
            |
            a(href='https://tezaurs.lv') Tezaurs.lv online dictionary
            |  and also the dataset can be downloaded free of charge from
            |
            a(href='https://wordnet.ailab.lv/data/') this site
            | .
            | The development of Latvian WordNet is done by
            |
            a(href='https://lumii.lv') Institute of Mathematics and Computer Science
            |  and this research is funded by the Latvian Council of Science, project &quot;Latvian WordNet and Word Sense Disambiguation&quot; (project No. LZP-2019/1-0464).


      //img.poster.mt-3.mx-auto.d-block(src='/images/'+locale+'.eLex_2021_poster.png' alt=__('elex_poster'))
      //img.poster.mt-3.mx-auto.d-block(src='/images/poster.png' alt=__('elex_poster'))
      //div.d-flex.flex-row-reverse
      //  a.btn.btn-outline-secondary.btn-sm.my-2(download="Latvian-WordNet-poster.png" href='/images/poster.png' title="Latvian WordNet poster")
      //    i.bi-download.me-2
      //    | #{__('actions.download')}


  section.team.py-5.text-color-dark
    .container
      h1.fw-bold.text-uppercase.mb-4 #{__('team')}
      .row
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Dr. sc. comp. Pēteris Paikens
              //div Researcher at Ailab from July 1930
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Dr. philol. Ilze Lokmane
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Mg. philol. Laura Rituma
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Mg. sc. comp. Lauma Pretkalniņa
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Mg. translat. Madara Stāde
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Bc. sc. comp. Laine Strankale
        .col-md-4.col-sm-12.mt-3
          .person-box.row.me-1
            .col.content.my-auto
              span.fw-bold.fst-italic.name Bc. philol. Agute Klints
