doctype html
head
  meta(charset='utf-8' lang="lv")
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Latvian WordNet
  link(href="/icons-1.5.0/font/bootstrap-icons.css" rel="stylesheet")
  //link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
  link(rel="icon" type="image/jpg" href="/images/favicon-32x32.png")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
  link(href='/css/style.css' rel='stylesheet')
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet")

  block scripts

body.d-flex.flex-column.h-100

  header
    .pt-2.text-color-accent
      .container
        .navigation.d-flex.flex-wrap.align-items-center.justify-content-sm-start
          a.my-md-2.my-lg-0.me-sm-auto.text-color-accent.text-decoration-none.navbar-brand(href='/')
            span.h4 Latvian
            = " "
            br.brand-br
            span.h4 WordNet
          ul.nav.col-12.col-sm-auto.justify-content-center.my-0.text-small
            li
              a.nav-link.text-color-accent(href='/data' class=(name === "data" ? "active" : undefined))
                svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                  use(xlink:href='/icons-1.5.0/bootstrap-icons.svg#folder')
                | #{__('nav.data')}
            li
              a.nav-link.text-color-accent(href='/demo' class=(name === "demo" ? "active" : undefined))
                svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#diagram-3")
                | #{__('nav.demo')}
            li
              a.nav-link.text-color-accent(href='/wordlist' class=(name === "wordlist" ? "active" : undefined))
                svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#list-ul")
                | #{__('nav.wordlist')}
            li
              a.nav-link.text-color-accent(href='/publications' class=(name === "publications" ? "active" : undefined))
                svg.bi.d-block.mx-auto.mb-1(width='24' height='24')
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-earmark-text")
                | #{__('nav.publications')}
            //li
            //  a.lang-btn.btn-sm.btn(href=(locale === 'lv' ? "/en" : "/lv"))
            //    svg.bi(width='16' height='16')
            //      use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#translate")
            //    div(class=(locale === 'lv' ? "order-1" : "order-3 fw-light"))
            //      //span #{locale === "lv" ? "EN" : "LV"}
            //      span(class=(locale === "lv" ? "fw-bold" : "fw-light")) LV
            //      span.ms-2(class=(locale === "en" ? "fw-bold" : "fw-light")) EN

  block content

  footer.footer.mt-auto.text-color-dark
    .container
      .row.my-5
        .col-md-3.col-sm-12.footer-section
          p.mb-2.fst-italic Latvian WordNet
          p.text-small.m-0.text-muted #{__('research_financed')}
        .col-md-3.col-sm-12
        .col-md-6.col-sm-12.contact-us.footer-section
          a(href="http://www.ailab.lv" target="_blank")
            img(src="/images/ailab.gif")
            span.ms-3 Artificial Intelligence Laboratory
          p.mb-0.mt-2 University of Latvia, Institute of Mathematics and Computer Science
          p.m-0 29 Raina blvd., Riga, LV-1459, Latvia
          a.d-block.mt-3(href='mailto:peteris@ailab.lv')
            i.bi-envelope.me-1
            span peteris@ailab.lv


script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")

block footer-scripts


