extends layout

block content
  .container.my-5.publications
    each p, i in publications
      .row.mb-4
        .col-1.date-part
          if p.issued && p.issued['date-parts']
            div #{p.issued['date-parts'][0]}
        .col.content
          p.mb-0
            span #{p.author.map(a => `${a.given} ${a.family}`).join(', ')}
          p.fw-bold.mb-0 #{p.title}
          p.fst-italic.mb-0
            if p.published === false
              span.fst-normal To be published in
                = ' '
            | #{p['container-title']}
            if p.volume
              span , #{p.volume}(#{p.issue})
            if p.page
              span , #{p.page}
            if p.issued && p.issued['date-parts']
              span , #{p.issued['date-parts'][0]}

          .links.mt-2
            if p.pdf
              a.me-3.text-color-dark(href=p.pdf target="_blank")
               svg.bi(width="15" height="15" fill="currentColor")
                 use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-pdf")
               = ' PDF'
            if p.appendix
              a.me-3.text-color-dark(href=p.appendix target="_blank")
               svg.bi(width="15" height="15" fill="currentColor")
                 use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-pdf")
               = ' Appendix'
            if p.slides
              a.me-3.text-color-dark(href=p.slides target="_blank")
                svg.bi(width="15" height="15" fill="currentColor")
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-pdf")
                = ' Slides'
            if p.poster
              a.me-3.text-color-dark(href=p.poster target="_blank")
                svg.bi(width="15" height="15" fill="currentColor")
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#file-pdf")
                = ' Poster'
            if p.DOI
              a.me-3.text-color-dark(href="https://doi.org/"+p.DOI target="_blank")
                svg.bi(width="15" height="15" fill="currentColor")
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#link-45deg")
                = ' DOI'
            else if p.URL
              a.me-3.text-color-dark(href=p.URL target="_blank")
                svg.bi(width="15" height="15" fill="currentColor")
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#link-45deg")
                = ' URL'
            if p.bib
              a.text-color-dark(data-bs-toggle='modal' data-bs-target='#bib'+i)
                svg.bi(width="15" height="15" fill="currentColor")
                  use(xlink:href="/icons-1.5.0/bootstrap-icons.svg#bookmark")
                = ' BibTeX'
              .modal(id='bib'+i tabindex="-1")
                .modal-dialog.modal-dialog-centered.modal-lg
                  .modal-content
                    .modal-header
                      button.btn-close.text-reset(type='button' data-bs-dismiss='modal' aria-label=__('actions.close'))
                    .modal-body
                      div.bg-light.p-3
                        div.d-flex.flex-row-reverse
                          button.btn.btn-outline-secondary.btn-sm.mb-2.copy-btn(data-i=i) #{__('actions.copy')}
                        pre(id="text"+i) #{p.bib}




  script(src="/js/scripts.js")
