extends layout

block scripts
  link(href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet")

block content
  section.data-links.py-5.text-color-dark
    .container
      h1.fw-bold.mb-4 #{__('wordlist.title')}
      .row
        #wrapper

block footer-scripts
  script(src="https://unpkg.com/gridjs/dist/gridjs.umd.js")
  script(src="/js/wordlist-data.js")
  script(src="/js/wordlist.js")