:root {
  --color-dark: #1d2636;
  --color-light: #e5e5e5;
  /*--color-accent: #a7be2a;*/
  --color-accent: #d5a757;
}

/*.container {*/
  /*max-width: 1200px;*/
/*}*/

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family:Inter, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;*/
  min-height: 100vh;
  background-color: #fff;
  padding: 0!important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 80%;
}

.text-color-dark {
  color: var(--color-dark);
}
.text-color-light {
  color: var(--color-light);
}

.text-color-accent {
  color: var(--color-accent);
}

/* Footer */
footer {
  border-top: 1px solid var(--color-accent);
}

.contact-us a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-dark);
}
.contact-us a:hover {
  text-decoration: none;
  color: var(--color-accent);
}

.footer-end {
  border-top: 1px solid grey;
}

/* Header */

header {
  background-color: var(--color-dark);
  /*box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header a:hover {
  color: var(--color-light);
}

.nav {
  width: auto;
}

.navigation {
  justify-content: center;
}

.nav-link {
  font-size: 13px;
  border-bottom: solid transparent;
}

.navbar-brand {
  margin-right: 0;
  /*text-shadow: 2px 8px 8px rgb(0 0 0 / 80%);*/
}

.brand-br {
  display: none;
}

.nav-link:focus, .nav-link:hover, .nav-link.active {
  color: var(--color-light);
  border-bottom: solid var(--color-light);
}

.lang-btn {
  margin-left: 30px;
  width: 58px;
  color: var(--color-accent);
  padding: 5px .5rem;
  font-size: 16px;
}

.lang-btn:hover {
  color: var(--color-light);
  border-color: var(--color-light);
}

.lang-btn:hover {
  color: var(--color-light);
  border-color: var(--color-light);
}
.lang-btn:focus {
 box-shadow: none;
}

/* Index */

.data-links a:hover {
  /*color: var(--color-accent);*/
}

.about a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-accent);
}

.about a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-accent);
}


.data-links a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-dark);
}

.data-links .content {
  padding-left: 20px;
}

.download-box {
  border-radius: 5px;
  background: #fafafa;
  border: 1px solid #e0e0e0;
  height: 120px;
}

.download-box:hover {
  border: 1px solid var(--color-accent);
  background-color: #fbf6ee;
  box-shadow: rgba(0, 24, 40, 0.3) 0px 0px 10px -6px;
  /*box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);*/
}

.download-box:hover .hover {
  display: block
}

.download-box:hover .not-hover {
  display: none
}

.download-box .hover {
  display: none
}

.download-box .not-hover {
  display: block
}


.person-box {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: white;
  height: 80px;
}

.person-box .content {
  padding-left: 20px;
}

.team {
  background-color: #fafafa;
}

/* Publications */

.publications a:hover {
  color: var(--color-accent);
}

.publications a {
  text-decoration: none;
  cursor: pointer;
}

.publications .content {
  border-left: 3px solid var(--color-accent);
  padding-left: 25px;
}

.publications .modal-header {
  border-bottom: none;
}

/* Main */

.poster {
  width: 100%;
  /*border: 1px solid  lightgrey;*/
}

.team .profile-pic {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

/* Demo */

#graph {
  width: 100vw;
  height: calc(100vh - 73px);
  border-right: solid 1px var(--color-light);
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
  background-image: none !important;
  margin-bottom: 20px;
  margin-right: 10px;
}
div.vis-network div.vis-navigation div.vis-button.vis-up,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  display: none;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

.vis-button:after {
  font-size: 2.5em;
  color: var(--color-accent);
}

.vis-button:hover:after {
  color: var(--color-light);
}

.vis-button.vis-zoomIn:after {
  content: "+";
  font-weight: bold;
}

.vis-button.vis-zoomOut:after {
  content: "−";
  font-weight: bold;
}

.graph {
  width: 100vw;
  height: calc(100vh - 73px);
  position: relative;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.info-content, #synset-menu {
  font-style: italic;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
  padding: 6px;
  background: white;
  border-radius: 0;
}

#synset-list {
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
  border-radius: 0;
  border: none;
}

.synset-option {
    cursor: pointer;
}

/* Wordlist */

.gridjs-td a:hover {
  color: var(--color-accent);
}

/* Fixes table width */
.gridjs-table {
  min-width: 100%; 
}

/**/

@media(max-width:320px) {
  .navbar-brand span {
    font-size: 1rem;
  }
}

@media(max-width:576px) {
  .lang-btn {
    margin-left: inherit;
  }

  .footer-section {
    padding: 0 2rem;
  }

  .footer-section.contact-us {
    margin-top: 3rem;
  }

  .publications .date-part {
    display: none;
  }

  .nav-link {
    padding: .5rem .9rem;
  }

  .brand-br {
    display: inline-block;
  }

  header .container {
    padding: 0;
  }

  .download-box-wrapper:not(:first-child) {
    margin-top: 1rem;
  }

  .download-box, .person-box {
    margin-left: .25rem;
  }

  .navigation {
    justify-content: space-between;
  }

  .navbar-brand {
    margin-left: 1rem;
    line-height: 1rem;
  }
}

@media(max-width:768px) {
  .publications .date-part {
    display: none;
  }

  #graph {
    height: calc(100vh - 110px);
  }

  .download-box {
    height: 140px;
  }

  .about .images {
    display: none;
  }
}